<%= simple_form_for(@ajuste) do |f| %>

  <div class="row">
    <div class="col-md-2">
      <%= f.input :tipo, label: 'Tipo', collection: [['Entrada', 'E'], ['Saída', 'S']], as: :radio_buttons %>
    </div>
    <div class="col-md-10">
      <%= f.input :obs, label: 'Descrição' %>
    </div>
  </div>

  <div class="bottom-actions">
    <%= f.button :submit, 'Salvar Ajuste', class: 'btn btn-primary' %>

    <%= link_to icon(:trash, 'Apagar este Ajuste'),
                  @ajuste,
                  method: :delete,
                  data: { confirm: 'Tem certeza?' },
                  class: 'btn btn-sm text-danger pull-right' unless @ajuste.new_record? %>
  </div>
<% end %>
