      <% @selected.each_with_index do |tr, i| %>
        <tr <%= ((i+1) % 11) == 0 ? 'class=page' : '' %>>
          <% tr.each do |td| %>
            <td>
              <% if td.present? %>
                <b><%= link_to td.descricao_short,
                              unselect_etiqueta_path(td),
                              remote: true,
                              method: 'POST' %></b><br/>
                <code><%= td.barcode %></code><br/>
                <%= td.fornecedor.nome %><br/>
                <%= td.sub1 %>
              <% else %>
                &nbsp;
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
