<%= page_header "Etiquetas" do %>
  <%= link_to icn(:r_file, 'Limpar Página'), unselect_all_etiquetas_path, method: 'POST', class: 'btn btn-warning' %>
  <%= link_to icn(:th, 'Preencher Página'), select_page_etiquetas_path(q: params[:q].permit!), method: 'POST', class: 'btn btn-success' %>
  <span class="btn"></span>

  <div class="btn-group">
  <%= link_to icn(:barcode, ' Gerar Etiquetas PDF'), print_etiquetas_path(q: params[:q].permit!), method: 'POST', class: 'btn btn-danger' %>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
      <%= link_to icn(:save, 'Gerar Inferior'),
                  print_etiquetas_path(q: params[:q], offset: true),
                  method: 'POST',
                  class: 'dropdown-item' %>
  </div>
</div>

<% end %>

<div class="row">

  <div class="col-7">

    <table class="table" id="grid">
      <thead>
        <tr>
          <th><%= nbsp %></th>
          <th><%= nbsp %></th>
          <th><%= nbsp %></th>
          <th><%= nbsp %></th>
          <th><%= nbsp %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'grid' %>
      </tbody>
    </table>

  </div>

  <div class="col-md-5">

    <div class="card card-body card-text bg-light stats">
    <%= simple_form_for @search, url: etiquetas_path, method: 'GET' do |f| %>

      <div class="row">
        <div class="col-5">
          <%= f.input :produto_colecao_id_eq, label: 'Coleção', collection: Colecao.to_select %>
        </div>
        <div class="col-7">
          <%= f.input :produto_fornecedor_id_eq, label: 'Fornecedor', collection: Fornecedor.to_select %>
        </div>
      </div>

      <%= f.submit 'Filtrar', class: 'btn btn-sm btn-info' %>

    <% end %>
    <hr/>
    <div class="row">
      <div class="col-sm-4">
        <h3><%= @etiquetas.selecionadas.count %></h3>
        <small>SELECIONADAS</small>
      </div>
      <div class="col-sm-4 divider">
        <h3><%= @etiquetas.nao_selecionadas.pendentes.count %></h3>
        <small>PENDENTES</small>
      </div>
      <div class="col-sm-4 divider">
        <h3><%= @etiquetas.geradas.count %></h3>
        <small>GERADAS</small>
      </div>
    </div>
    </div>

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Ref</th>
          <th>Barcode</th>
          <th>Fornecedor</th>
          <th>&nbsp;</th>

        </tr>
      </thead>
      <tbody>
        <% @etiquetas.nao_selecionadas.each do |etiqueta| %>
          <tr id="tr_<%= etiqueta.id %>">
            <td><%= link_mark(etiqueta) %></td>
            <td><%= etiqueta.ref %></td>
            <td><%= etiqueta.barcode %></td>
            <td><small><%= etiqueta.fornecedor.try :nome %></small></td>
            <td><span class="btn btn-sm text-info"><%= icn(:check) if etiqueta.gerada %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= index_count @etiquetas.nao_selecionadas.count, 'etiquetas encontradas' %>

  </div>
</div>
