<audio src="<%= asset_path('beep.mp3') %>" id="sound"></audio>

<%= modal id: "item_modal" do %>
  <%= modal_header "" %>
  <div class="modal-body">
    <h2 class="text-center text-info"   id="modal_ref"></h2>
    <h2 class="text-center text-danger" id="modal_cor"></h2>
    <h2 class="text-center text-danger" id="modal_tam"></h2>
    <br/>
  </div>
<% end %>

<audio src="<%= asset_path('fail.mp3') %>" id="fail_sound"></audio>

<%= modal id: "error_modal" do %>
  <%= modal_header "Erro Processando Item" %>
  <div class="modal-body">
    <h3 class="text-center text-danger" id="error_msg"></h3>
    <br/>
  </div>
<% end %>
