<%%= page_header "Exibir <%= singular_table_name.capitalize %>" do %>
  <%%= link_to_back <%= plural_table_name %>_path %>
  <%%= link_to icn(:edit, 'Editar <%= singular_table_name.capitalize %>'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-sm btn-primary' %>
<%% end %>

<div class="panel panel-default">
  <div class="panel-body">

    <h4 class="text-primary">
      <%%= @<%= singular_table_name %>.<%= attributes_names.first || 'nome' %> %>
    </h4>

    <div class="row">

      <div class="col-md-4 col-sm-6">

        <dl class="dl-horizontal form">

          <%- attributes.each do |attribute| -%>
            <dt><%= attribute.human_name.capitalize %></dt>
            <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
          <%- end -%>

        </dl>

      </div>

    </div>

  </div>
</div>
