<%= simple_form_for(@compra) do |f| %>

  <div class="card card-body bg-light card-text">

    <div class="row">
      <div class="col-sm-6">
        <%= f.association :fornecedor, label: "Fornecedor", collection: Fornecedor.ativos, label_method: :nome %>
      </div>
      <div class="col-sm-6">
        <%= f.association :colecao, label: 'Coleção', label_method: :descricao, input_html: { class: 'select2' } %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <%= f.input :data %>
      </div>
      <div class="col-sm-3">
        <%= f.input :desconto, label: "Desconto (%)" %>
      </div>
      <div class="col-sm-3">
        <%= f.input :valor_nf,
                    label: "Valor NF",
                    as: :currency,
                    input_html: { value: curr(@compra.valor_nf) },
                    hint: link_to("Copiar da Compra", "#", data: { behavior: 'valor_nf', valor: curr(@compra.total) }) %>
      </div>
    </div>

  </div>

  <div class="bottom-actions">
    <%= f.button :submit, 'Salvar Compra', class: 'btn btn-primary' %>

    <%= link_to icn(:trash, 'Apagar este Compra'),
          @compra,
          method: :delete,
          data: { confirm: 'Tem certeza?' },
          class: 'btn btn-sm text-danger ml-auto' unless @compra.new_record? %>
  </div>

<% end %>
