<%= page_header "Compra ##{@compra.id}" do %>
  <%= link_to_back get_back_for(:compra_show) %>
  <%= link_to icn(:edit, 'Editar Compra'), edit_compra_path(@compra), class: 'btn btn-sm btn-primary' %>
<% end %>

<div class="well vertical show mb-4">

  <div class="row">

    <div class="col-sm-5 big">
      <%= @compra.fornecedor.nome %>
      <small><%= l @compra.data, format: :medium %></small>
    </div>

    <div class="col-sm-2 col-xs-4 big">
      <span id="compra_itens_count"><%= @compra.itens.count %></span> <small>peças</small>
    </div>

    <div class="col-sm-3 col-xs-4 big">
      <span id="compra_itens_total"><%= number_to_currency @compra.total %></span> <small>total com desconto</small>
    </div>

    <div class="col-sm-2 col-xs-4 big desconto">
      <%= number_to_percentage @compra.desconto, precision: 1, format: "%n %" %>
      <small><b>DESCONTO</b></small>
    </div>

  </div>

</div>

<div class="row">

  <div class="col-8">
    <%= render partial: 'compras/itens/index' %>
  </div>

  <div class="col-4">
    <%= render partial: 'compras/registros/index' %>
  </div>

</div>

<%= render partial: 'itens/modals' %>
