<%= page_header "Produtos" do %>
  <%= link_to(icn(:plus, 'Novo Produto'), new_produto_path, class: 'btn btn-success') %>
<% end %>

<div class="row">

  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Ref</th>
          <th>Fornecedor</th>
          <th>Coleção</th>
          <th class="right">Etiquetas</th>
          <th class="right">Estoque</th>
        </tr>
      </thead>
      <tbody>
        <% @produtos.each do |produto| %>
          <tr>
            <td><%= produto.tipo.descricao %></td>
            <td>
              <%= link_to produto.ref, produto %><br>
              <%= produto.ref1 %>
            </td>

            <td><small><%= produto.fornecedor&.nome %></small></td>
            <td><%= produto.colecao&.descricao %></td>
            <td class="right">
              <% if produto.etiquetas.present? %>
                <span class="badge"> <%= produto.etiquetas.count %></span>
              <% end %>
            </td>
            <td class="right">
              <%= label_estoque(produto.itens.sum(:estoque)) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <hr>
    <%= index_count(@produtos.count, 'produtos encontrados') %>

  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <b>Filtros</b>
      </div>
      <div id="filtro_pedidos" class="card-body card-text">
        <%= simple_form_for @search, url: produtos_path, method: 'GET' do |f| %>

          <%= f.input :colecao_id_eq, label: 'Coleção', collection: Colecao.to_select %>
          <%= f.input :fornecedor_id_eq, label: 'Fornecedor', collection: Fornecedor.to_select %>
          <%= f.input :linha_id_eq, label: 'Linha', collection: Linha.to_select %>
          <%= f.input :tipo_id_eq, label: 'Tipo', collection: Tipo.to_select %>

          <%= f.input :ref_cont, label: "Ref" %>
          <hr>
          <%= f.submit 'Filtrar', class: 'btn btn-info' %>
          <%= button_tag 'Limpar', class: 'btn btn-light clear' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
