<%= page_header 'Examples Page' %>

<h4>Select2 com Valores Fixos</h4>

<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
</select>

<hr/>


<h4 class='mt-5'>Select2 com Ajax</h4>

<select id="select2_ajax">

</select>

<hr/>


<h4 class='mt-5'>Flash Messages</h4>

<%= link_to 'flash message', examples_flash_msg_path %>

<hr/>

<h4 class='mt-5'>Modal com Ajax</h4>

<%= link_to 'Load Modal',
            examples_modal_path,
            data: { behavior: 'load-modal'} %>

<hr/>

<h4 class='mt-5'>Modal sem Ajax</h4>

<%= link_to 'Load Modal',
            '#example_modal',
            data: { toggle: 'modal'} %>

<hr/>

<%= modal id: 'example_modal' do %>

<%= modal_page_header 'Modal Title' %>

  <div class="modal-body">
    Local Modal body
  </div>

  <div class="modal-footer">
    <%= button_tag icn(:save, 'salvar'), class: 'btn btn-primary' %>
  </div>

<% end %>

<h4 class='mt-5'>Date Picker</h4>

<input type="text" class="datepicker" data-no-future="true"/>

<hr/>


<h4 class='mt-5'>Search bar</h4>

<%= link_to 'Search', examples_search_bar_path %>
