<%= page_header @colecao.descricao, 'Resultados', back_to: colecoes_path do %>
  <%= link_to icn(:edit, 'Editar Coleção'), edit_colecao_path(@colecao), class: 'btn btn-primary btn-sm' %>
<% end %>

<div class="row">

  <div class="col-sm-12 col-md-6">

    <div class="well stats">
      <div class="row">
        <div class="col-md-4 text-danger">
          <h2> <%= qc = @resultado.total.quantidade_comprados %></h2>
          <small>PEÇAS COMPRADAS</small>
        </div>
        <div class="col-md-4 text-success divider">
          <h2> <%= qv = @resultado.total.quantidade_vendidos %></h2>
          <small>PEÇAS VENDIDAS</small>
        </div>
        <div class="col-md-4 text-very-muted divider">
          <h2> <%= qc - qv %></h2>
          <small>EM ESTOQUE</small>
        </div>
      </div>
      <%= progress(@resultado.total.porcent_vendidos) %>

      <table class="table table-sm mt-2">
        <thead>
          <tr>
            <th>Tipo</th>
            <th class="right">Vendidas</th>
          </tr>
        </thead>
        <% @resultado.total.vendas_por_tipo.each do |item| %>
          <tr>
            <td><%= item.tipo %></td>
            <td class="right"><%= item.quant %></td>
          </tr>
        <% end %>
      </table>

    </div>

  </div>

  <div class="col-sm-12 col-md-6">
    <div class="well stats">
      <div class="row">
        <div class="col text-danger">
          <h2> <%= curr @resultado.total.valor_despesas %></h2>
          <small>DESPESAS</small>
        </div>
        <div class="col text-success divider">
          <h2> <%= curr @resultado.total.valor_receitas %></h2>
          <small>RECEITAS</small>
        </div>
        <div class="col text-very-muted divider">
          <h2> <%= curr @resultado.total.valor_estoque %></h2>
          <small>VALOR ESTOQUE</small>
        </div>
      </div>

      <%= progress(@resultado.total.porcent_receitas) %>

      <table class="table table-sm mt-2">
        <thead>
          <tr>
            <th colspan="2">Despesas</th>
            <th></th>
          </tr>
        </thead>
        <% @resultado.total.despesas.each do |d| %>
          <tr>
            <td class="text-muted"><%= d.data %></td>
            <td><%= d.descr %></td>
            <td class="right"><%= number_to_currency d.valor %></td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>

</div>

<hr/>

<% @resultado.por_fornecedor.each do |f| %>

  <h4><b><%= f.fornecedor.nome %></b></h4>

  <div class="row mb-4">

    <div class="col-6">
      <div class="well stats">
        <div class="row">
          <div class="col-md-4 text-danger">
            <h2> <%= qc = f.quantidade_comprados %></h2>
            <small>PEÇAS COMPRADAS</small>
          </div>
          <div class="col-md-4 text-success divider">
            <h2> <%= qv = f.quantidade_vendidos %></h2>
            <small>PEÇAS VENDIDAS</small>
          </div>
          <div class="col-md-4 text-very-muted divider">
            <h2> <%= qc - qv %></h2>
            <small>EM ESTOQUE</small>
          </div>
        </div>
        <%= progress(f.porcent_vendidos) %>
        <table class="table table-sm mt-2">
          <thead>
            <tr>
              <th>Tipo</th>
              <th class="right">Vendidas</th>
            </tr>
          </thead>
          <% f.vendas_por_tipo.each do |item| %>
            <tr>
              <td><%= item.tipo %></td>
              <td class="right"><%= item.quant %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="col-6">
      <div class="well stats">
        <div class="row">
          <div class="col-md-4 text-danger">
            <h2> <%= curr f.valor_despesas %></h2>
            <small>DESPESAS</small>
          </div>
          <div class="col-md-4 text-success divider">
            <h2> <%= curr f.valor_receitas %></h2>
            <small>RECEITAS</small>
          </div>
          <div class="col-md-4 text-very-muted divider">
            <h2> <%= curr f.valor_estoque %></h2>
            <small>VALOR ESTOQUE</small>
          </div>
        </div>
        <%= progress(f.porcent_receitas) %>
      </div>
    </div>

  </div>
  <hr>
<% end %>
