<%= page_header "Venda ##{@venda.id}" do %>
  <%= link_to_back get_back_for(:venda_show) %>
<% end %>

<div class="well vertical mb-4">

  <div class="row">

    <div class="col-sm-4 big">
      <%= @venda.nome %>
      <small><%= l @venda.data, format: :medium %></small>
    </div>

    <div class="col-sm-2 col-xs-4 big">
      <span id="venda_itens_count"><%= @venda.itens.count %></span> <small>peças</small>
    </div>

    <div class="col-sm-2 col-xs-4 big">
      <span id="venda_itens_total"><%= number_to_currency @venda.total %></span> <small>total com desconto</small>
    </div>

    <div class="col-sm-2 col-xs-4 big desconto">
      <%= number_to_percentage (@venda.desconto || 0), precision: 1, format: "%n %" %>
      <small>desconto</small>
    </div>

    <%= link_to 'Editar Venda', edit_venda_path(@venda), class: 'action' %>
  </div>

  <% if @venda.obs.present? %>
    <hr/>
    <%= @venda.obs.gsub("\n", "<br/>") %>
  <% end %>

</div>

<div class="row">

  <div class="col-8">
    <%= render partial: 'vendas/itens/index' %>
    <hr>
    <%= render partial: 'vendas/trocas/index' %>
  </div>

  <div class="col-4">
    <%= render partial: 'vendas/registros/index' %>
  </div>

</div>

<%= render partial: 'itens/modals' %>
